<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Successful Deployment</title>

</head>

<body>
	<div class="container">
		<div class="intro">

			<div class="message">
				<h1>{{message}}</h1>
			</div>
		</div>

		<div class="details">
		
		<table>
  			<tr>
			    <td>Developer:</td>
			    <td>{{Developer}}</td>
  			</tr>
   			<tr>
			    <td>Platform:</td>
			    <td>{{Platform}}</td>
  			</tr>
   			<tr>
			    <td>Python Version:</td>
			    <td>{{Version}}</td>
  			</tr>
		</table>
		
		
		

		</div>
	</div>
</body>
</html>
